catboost>=1.2
duckdb>=1.1
folium>=0.17
holidays>=0.48
imbalanced-learn>=0.12
ipykernel>=6
lightgbm>=4.3
nbformat>=4.2
optuna>=3.6
pandas>=2.2
pip>=23
plotly>=5.22
polars>=1
pyarrow>=16
requests>=2.32
scikit-learn>=1.4
scipy>=1.13
shap>=0.45
streamlit>=1.35
streamlit-folium>=0.20
tqdm>=4.66
xgboost>=2
